.col-sm-2, .col-sm-10 {
    margin-top: 2em;
}

.name-label, .body-label, .age-box {
    padding: 2px;
}

.name-box, .body-box {
    width: 20em;
    margin-bottom: 20px;
}

.age-box {
    width: 80px;
}

.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
}